.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2F5BE7;
}

.button{
  background: linear-gradient(45deg, #2F5BE7 30%, #68A8F5 90%);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: white;
  height: 48px;
  padding: 0 30px;
}

.textfield {
  color: #FE6B8B;
}

.datetime-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.datetime-picker-box{
  display: flex;
  flex-direction: column;
}

form{
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 550px;
}

h2{
  color: green;
  text-align: center;
}